In [52]:
import pandas as pd
import os

In [53]:
agencia = pd.read_csv("data/agencias.csv")
clientes = pd.read_csv("data/clientes.csv")
colaboradores_agencia = pd.read_csv("data/colaboradores.csv")
colaboradores = pd.read_csv("data/colaboradores.csv")
contas = pd.read_csv("data/contas.csv")
propostas_credito = pd.read_csv("data/propostas_credito.csv")
transacoes = pd.read_csv("data/transacoes.csv")

In [54]:
# Compreensão de: tipos de dados e tamanho do dataset.
for nome, df in {
    "Agencias": agencia, "Clientes": clientes, "Colaboradores_Agencia": colaboradores_agencia,
    "Colaboradores": colaboradores, "Contas": contas, "Propostas_Credito": propostas_credito,
    "Trasacoes": transacoes
}.items():
    print(f"\n {nome}")
    print(df.head(2), "\n")
    print(df.info(), "\n")

 Agencias
   cod_agencia             nome  \
0            7  Agência Digital
1            1   Agência Matriz

                                            endereco     cidade  uf  \
0  Av. Paulista, 1436 - Cerqueira César, São Paul...  São Paulo  SP
1  Av. Paulista, 1436 - Cerqueira César, São Paul...  São Paulo  SP

  data_abertura tipo_agencia
0    2015-08-01      Digital
1    2010-01-01       Física

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cod_agencia    10 non-null     int64
 1   nome           10 non-null     object
 2   endereco       10 non-null     object
 3   cidade         10 non-null     object
 4   uf             10 non-null     object
 5   data_abertura  10 non-null     object
 6   tipo_agencia   10 non-null     object
dtypes: int64(1), object(6)
memory usage: 692.0+ bytes
None


 Clientes
   cod_cliente primeiro_nome ultimo_nome                         email  \
0           28       Sabrina        Dias  moreiraemanuelly@example.org
1          674   Luiz Felipe        Dias     pedroferreira@example.org

  tipo_cliente            data_inclusao         cpfcnpj data_nascimento  \
0           PF  2017-04-03 16:11:00 UTC  357.081.496-39      2006-08-11
1           PF  2021-02-10 13:27:00 UTC  085.196.374-93      1995-10-11

                                            endereco        cep
0  Praia de Duarte Vila Piratininga 81327-166 Fer...  95140-704
1  Avenida da Rosa, 654 João Paulo Ii 20295449 Nu...  76516-765

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cod_cliente      998 non-null    int64
 1   primeiro_nome    998 non-null    object
 2   ultimo_nome      998 non-null    object
 3   email            998 non-null    object
 4   tipo_cliente     998 non-null    object
 5   data_inclusao    998 non-null    object
 6   cpfcnpj          998 non-null    object
 7   data_nascimento  998 non-null    object
 8   endereco         998 non-null    object
 9   cep              998 non-null    object
dtypes: int64(1), object(9)
memory usage: 78.1+ KB
None


 Colaboradores_Agencia
   cod_colaborador  primeiro_nome ultimo_nome                     email  \
0               14          Paulo        Dias  melissalopes@example.net
1               19  Luiz Fernando        Dias        pcunha@example.net

              cpf data_nascimento  \
0  847.210.695-02      1974-04-24
1  820.415.963-33      1994-07-10

                                            endereco       cep
0  Lagoa de Rodrigues, 62 Zilah Sposito 37328-273...  27275674
1  Ladeira de Moreira, 82 Jardim Atlântico 27617-...  50013962

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cod_colaborador  100 non-null    int64
 1   primeiro_nome    100 non-null    object
 2   ultimo_nome      100 non-null    object
 3   email            100 non-null    object
 4   cpf              100 non-null    object
 5   data_nascimento  100 non-null    object
 6   endereco         100 non-null    object
 7   cep              100 non-null    object
dtypes: int64(1), object(7)
memory usage: 6.4+ KB
None


 Colaboradores
   cod_colaborador  primeiro_nome ultimo_nome                     email  \
0               14          Paulo        Dias  melissalopes@example.net
1               19  Luiz Fernando        Dias        pcunha@example.net

              cpf data_nascimento  \
0  847.210.695-02      1974-04-24
1  820.415.963-33      1994-07-10

                                            endereco       cep
0  Lagoa de Rodrigues, 62 Zilah Sposito 37328-273...  27275674
1  Ladeira de Moreira, 82 Jardim Atlântico 27617-...  50013962

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cod_colaborador  100 non-null    int64
 1   primeiro_nome    100 non-null    object
 2   ultimo_nome      100 non-null    object
 3   email            100 non-null    object
 4   cpf              100 non-null    object
 5   data_nascimento  100 non-null    object
 6   endereco         100 non-null    object
 7   cep              100 non-null    object
dtypes: int64(1), object(7)
memory usage: 6.4+ KB
None


 Contas
   num_conta  cod_cliente  cod_agencia  cod_colaborador tipo_conta  \
0         53           53            1                7         PF
1        190          190            1                7         PF

             data_abertura  saldo_total  saldo_disponivel  \
0  2011-05-24 15:30:00 UTC    2984.7615           2814.67
1  2014-10-17 14:48:00 UTC    4262.4322           4191.86

    data_ultimo_lancamento
0  2019-07-02 11:03:46 UTC
1  2021-03-25 12:00:15 UTC

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   num_conta               999 non-null    int64
 1   cod_cliente             999 non-null    int64
 2   cod_agencia             999 non-null    int64
 3   cod_colaborador         999 non-null    int64
 4   tipo_conta              999 non-null    object
 5   data_abertura           999 non-null    object
 6   saldo_total             999 non-null    float64
 7   saldo_disponivel        999 non-null    float64
 8   data_ultimo_lancamento  999 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 70.4+ KB
None


 Propostas_Credito
   cod_proposta  cod_cliente  cod_colaborador    data_entrada_proposta  \
0           116          338                1  2014-05-30 18:43:12 UTC
1           715           45                1  2021-06-17 13:09:32 UTC

   taxa_juros_mensal  valor_proposta  valor_financiamento  valor_entrada  \
0             0.0194    36199.950355             50032.03   13832.079645
1             0.0131    12897.538285             19848.55    6951.011715

   valor_prestacao  quantidade_parcelas  carencia status_proposta
0      1045.219825                   58         0         Enviada
1       232.124685                  100         1         Enviada

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cod_proposta           2000 non-null   int64
 1   cod_cliente            2000 non-null   int64
 2   cod_colaborador        2000 non-null   int64
 3   data_entrada_proposta  2000 non-null   object
 4   taxa_juros_mensal      2000 non-null   float64
 5   valor_proposta         2000 non-null   float64
 6   valor_financiamento    2000 non-null   float64
 7   valor_entrada          2000 non-null   float64
 8   valor_prestacao        2000 non-null   float64
 9   quantidade_parcelas    2000 non-null   int64
 10  carencia               2000 non-null   int64
 11  status_proposta        2000 non-null   object
dtypes: float64(5), int64(5), object(2)
memory usage: 187.6+ KB
None


 Trasacoes
   cod_transacao  num_conta           data_transacao nome_transacao  \
0           3100        256  2020-05-22 03:15:21 UTC          Saque
1          28405        256  2021-06-29 11:52:38 UTC          Saque

   valor_transacao
0           -130.0
1           -255.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71999 entries, 0 to 71998
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cod_transacao    71999 non-null  int64
 1   num_conta        71999 non-null  int64
 2   data_transacao   71999 non-null  object
 3   nome_transacao   71999 non-null  object
 4   valor_transacao  71999 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.7+ MB
None

In [55]:
# Verificando a existência de valores ausentes.
for nome, df in {
    "Agencias": agencia, "Clientes": clientes, "Colaboradores_Agencia": colaboradores_agencia,
    "Colaboradores": colaboradores, "Contas": contas, "Propostas_Credito": propostas_credito,
    "Trasacoes": transacoes
}.items():
    print(f"\n🔹 Valores nulos em {nome}:\n", df.isnull().sum())

🔹 Valores nulos em Agencias:
 cod_agencia      0
nome             0
endereco         0
cidade           0
uf               0
data_abertura    0
tipo_agencia     0
dtype: int64

🔹 Valores nulos em Clientes:
 cod_cliente        0
primeiro_nome      0
ultimo_nome        0
email              0
tipo_cliente       0
data_inclusao      0
cpfcnpj            0
data_nascimento    0
endereco           0
cep                0
dtype: int64

🔹 Valores nulos em Colaboradores_Agencia:
 cod_colaborador    0
primeiro_nome      0
ultimo_nome        0
email              0
cpf                0
data_nascimento    0
endereco           0
cep                0
dtype: int64

🔹 Valores nulos em Colaboradores:
 cod_colaborador    0
primeiro_nome      0
ultimo_nome        0
email              0
cpf                0
data_nascimento    0
endereco           0
cep                0
dtype: int64

🔹 Valores nulos em Contas:
 num_conta                 0
cod_cliente               0
cod_agencia               0
cod_colaborador           0
tipo_conta                0
data_abertura             0
saldo_total               0
saldo_disponivel          0
data_ultimo_lancamento    0
dtype: int64

🔹 Valores nulos em Propostas_Credito:
 cod_proposta             0
cod_cliente              0
cod_colaborador          0
data_entrada_proposta    0
taxa_juros_mensal        0
valor_proposta           0
valor_financiamento      0
valor_entrada            0
valor_prestacao          0
quantidade_parcelas      0
carencia                 0
status_proposta          0
dtype: int64

🔹 Valores nulos em Trasacoes:
 cod_transacao      0
num_conta          0
data_transacao     0
nome_transacao     0
valor_transacao    0
dtype: int64

In [56]:
clientes.drop_duplicates(inplace=True)